<div class="navbar-header">
  instamatic
</div>

<nav class="navbar navbar-default navbar-fixed-top">

</nav>

<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#">Item 1</a>
  </li>
  <li>
    <a href="#">Item 2</a>
  </li>
</ul>